# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
.vscode/settings.json


cache_data
saved_exp
cache_data_*

*.pt 
*.out
models--*
cache_data
cache_data_*
.locks/
out/
save 
saved_exp
wandb

checkpoints/
checkpoints/*
LocalGraphClustering/
./llmcheckpoint/models--mistralai--Mistral-7B-v0.1/blobs/9bcf56354ec0c68b5f8e97b4f3b02d16af899a65b0868d6dba5a51c1b30f01cb
./llmcheckpoint/models--mistralai--Mistral-7B-v0.1/blobs/9742cb4764964155b7a5f35eefad651f590006091ddeb536863d6c5865cca1b9
./LocalGraphClustering/
./cache_data_minilm/
./models--sentence-transformers--all-MiniLM-L6-v2/blobs/c3a85f238711653950f6a79ece63eb0ea93d76f6a6284be04019c53733baf256
./models--sentence-transformers--all-MiniLM-L6-v2/blobs/53aa51172d142c89d9012cce15ae4d6cc0ca6895895114379cacb4fab128d9db
./data/KG/FB15K237/train.txt
./data/single_graph/pubmed/pubmed.pt
./data/single_graph/goodreads/goodreads.csv
./data/single_graph/goodreads/goodreads.pt
./data/single_graph/elephoto/elephoto.csv
./data/single_graph/elecomp/elecomp.pt
./data/single_graph/elecomp/elecomp.csv
./data/single_graph/sportsfit/sportsfit.pt
./data/single_graph/sportsfit/sportsfit.csv
./data/single_graph/arxiv23/arxiv23.pt
./data/single_graph/arxiv23/arxiv23.csv
./data/single_graph/bookhis/history.csv
./data/single_graph/wikics/metadata.json
./data/single_graph/bookchild/children.pt
./data/single_graph/bookchild/children.csv
./data/single_graph/products/products.pt
./data/single_graph/citationv8/citationv8.pt
./data/single_graph/citationv8/citationv8.csv

subgraph/
subgraph/*

.locks 


test.py

elph_*
sentence-transformers_*